.hero-section-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.hero-section-wrapper {
    margin-top: 7rem;
    height: 100%;
}

.motion-1 {
    flex: 0 0 60%;
    grid-column: span 8 / span 8;
    place-self: center;
    text-align: center;
    justify-self: start;
}

.motion-2 {
    flex: 0 0 40%;
    grid-column: span 8 / span 8;
    place-self: center;
    text-align: center;
    justify-self: end;
}

.h1-title-hero {
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-family: 'Ubuntu', sans-serif;
    font-size: 6rem;
    line-height: 1;
    line-height: 1.5;
}

.span-title-hero {
    background-clip: text;
    background-image: linear-gradient(to right, #dc2626, #9d00ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.lorem-p-hero {
    color: rgb(173, 183, 190);
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
}

.button-contact-hero {
    display: inline-block;
    width: fit-content;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-right: 1rem;
    border-radius: 9999px;
    background: linear-gradient(to right, #dc2626, #9d00ff);
    color: #fff;
    border: none;
    font-family: 'Ubuntu', sans-serif;
}

.button-contact-hero:hover {
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .hero-section-wrapper {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .h1-title-hero {
        font-size: 6rem;
        line-height: 1;
        line-height: 1.5;
    }

    .lorem-p-hero {
        font-size: 1.5rem;
        line-height: 2rem;

    }

}

@media screen and (max-width: 640px) {
    .hero-section-main {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }

    .motion-1 {
        text-align: left;
    }

    .h1-title-hero {
        font-size: 3rem;
        line-height: 1;
    }

    .lorem-p-hero {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .button-contact-hero {
        width: 100%;
    }

}