.hero-section-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: linear-gradient(to bottom, #0a192f, #030214);
}

.parallax-motion-2-hero{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section-wrapper {
    margin-top: 7rem;
    min-height: 100%;
}

.motion-1 {
    width: 60%;
    place-self: center;
    text-align: center;
    justify-self: start;
    margin-right: 1rem;
}

.motion-2 {
    width: 30%;
    place-self: center;
    text-align: center;
    justify-self: end;
}

.h1-title-hero {
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-family: 'Comme', sans-serif;
    font-size: 4vw;
    line-height: 1;
    line-height: 1.5;
}

.span-title-hero {
    background-clip: text;
    background-image: linear-gradient(to right, #dc2626, #9d00ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.lorem-p-hero {
    color: rgb(173, 183, 190);
    margin-bottom: 1.5rem;
    font-size: 1vw;
    line-height: 1.5rem;
    font-family: 'Comme', sans-serif;
}

.button-contact-hero {
    display: inline-block;
    width: fit-content;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-right: 1rem;
    border-radius: 9999px;
    background: linear-gradient(to right, #dc2626, #9d00ff);
    color: #fff;
    border: none;
    font-family: 'Comme', sans-serif;
}

.button-contact-hero:hover {
    cursor: pointer;
}

@media screen and (max-width: 1350px) {
    .hero-section-main {
        flex-direction: column;
    }

    .parallax-motion-2-hero {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .hero-section-main {
        flex-direction: column;
    }

    .motion-1 {
        width: 100%;
        grid-column: span 12 / span 12;
        place-self: center;
        text-align: center;
        justify-self: start;
        margin-right: 0;
    }

    .motion-2 {
        margin-top: 2rem;
        width: 100%;
        grid-column: span 12 / span 12;
        place-self: center;
        text-align: center;
        justify-self: end;
    }

    .h1-title-hero{
        width: 100%;
    }

    .lorem-p-hero{
        font-size: 2vw;
    }
    
}

@media screen and (max-width: 768px) {

    .h1-title-hero {
        font-size: 8vw;
    }

    .lorem-p-hero {
        font-size: 2vw;
    }
    
}

@media screen and (max-width: 480px) {

    .h1-title-hero {
        font-size: 10vw;
    }

    .lorem-p-hero {
        font-size: 3vw;
    }
}