.projects-section-wrapper{
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-gradient-projects{
    background: linear-gradient(to bottom, #0a192f, #000, #0a192f);

}

.projects-background-video{
    width: auto;
    height: 150vh;
    min-height: auto;
    max-width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    object-fit: cover;

}

.projects-title{
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
    font-size: 6vw;
    line-height: 1;
    line-height: 1.5;
    font-family: 'Comme', sans-serif;
}

.projects-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap; /* Allows the items to wrap as needed */
    overflow: hidden;
    padding-top: 5rem;
    padding-bottom: 5rem;
    justify-content: space-evenly;
}

.project-card{
    width: 30%;
    height: auto;
    min-height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    border: 1px solid #fff;
    background-color: rgba(10, 25, 47, 0.5);
}

.project-infos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-main-infos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-name{
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
    font-size: 2vw;
    line-height: 1;
    line-height: 1.5;
    font-family: 'Comme', sans-serif;
}

.project-description{
    color: rgb(173, 183, 190);
    margin-bottom: 1.5rem;
    font-size: 1vw;
    line-height: 1.5rem;
    width: 90%;
    text-align: center;
    font-family: 'Comme', sans-serif;
}

.project-technos{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

}

.techno-icon{
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

.project-links{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.project-link{
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

.project-link:hover{
    cursor: pointer;
}

.link-icon{
    width: 100%;
    height: 100%;
}

.github-link{
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

.github-link:hover{
    cursor: pointer;
}

.github-icon{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1919px) {
    .projects-background-video{
        display: none;
    }
    
}

@media screen and (max-width: 1024px) {
    .projects-background-video{
        display: none;
    }

    .projects-section{
        justify-content: space-evenly;
    }

    .project-card{
        width: 40%;
    }

    .project-name{
        font-size: 3vw;
    }

    .project-description{
        font-size: 1.5vw;
    }    
}

@media screen and (max-width: 768px) {
    .project-card{
        width: 80%;
    }

    .project-name{
        font-size: 4vw;
    }

    .project-description{
        font-size: 2vw;
    }
}

@media screen and (max-width: 480px) {
    .project-card{
        width: 80%;
    }

    .project-name{
        font-size: 5vw;
    }

    .project-description{
        font-size: 2.5vw;
    }
    
}