.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    min-height: 100vh;
}

.contact-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contact-title{
    font-weight: 700;
    color: #fff;
    font-size: 6rem;
    line-height: 1;
    line-height: 1.5;
}

.contact-form-wrapper{
    display: flex;
    flex: 0 0 50%;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.contact-planet{
    display: flex;
    flex: 0 0 50%;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.canvas{
    width: 50%;
    height: 50%;
}

.contact-form{
    width: 75%;
    height: 65%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    /* background-color: #221e4f; trouver une couleur plus jolie */
    background-color: #131342;
}

.label-form{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.input-form-text{
    width: 100%;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #221e4f;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
    background-color: #0b0b29;
    color: #fff;
}

.input-form-area{
    width: 100%;
    height: 150px;
    border-radius: 15px;
    border: 1px solid #221e4f;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
    background-color: #0b0b29;
    color: #fff;
}

textarea{
    resize: none;
}

.field-contact-text{
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 10px;
}

.button-form{
    width: 50%;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #221e4f;
    margin-bottom: 10px;
    font-size: 1.5rem;
    background-color: #0b0b29;
    color: #fff;
    cursor: pointer;
}