.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: auto; */
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, #030214, #0a192f);
}

.contact-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
}

.contact-title{
    font-weight: 700;
    color: #fff;
    font-size: 6vw;
    line-height: 1;
    line-height: 1.5;
    font-family: 'Comme', sans-serif;
}

.contact-form-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
}

.contact-planet{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.canvas{
    width: 50%;
    height: 50%;
}

.contact-form{
    width: 75%;
    height: 65%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    /* background-color: #221e4f; trouver une couleur plus jolie */
    background-color: #131342;
}

.label-form{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.input-form-text{
    width: 100%;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #221e4f;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 1.5vw;
    background-color: #0b0b29;
    color: #fff;
    font-family: 'Comme', sans-serif;
}

.input-form-area{
    width: 100%;
    height: 150px;
    border-radius: 15px;
    border: 1px solid #221e4f;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 1.5vw;
    background-color: #0b0b29;
    color: #fff;
    font-family: 'Comme', sans-serif;
}

textarea{
    resize: none;
}

.field-contact-text{
    font-size: 1.5vw;
    color: #fff;
    margin-bottom: 10px;
    font-family: 'Comme', sans-serif;
}

.button-form{
    width: 50%;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #221e4f;
    margin-bottom: 10px;
    font-size: 1.5vw;
    background-color: #0b0b29;
    color: #fff;
    cursor: pointer;
    font-family: 'Comme', sans-serif;
}

.contact-message{
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Comme', sans-serif;
    
}

@media screen and (max-width: 1024px) {
    .contact-wrap{
        flex-direction: column;
    }

    .contact-form-wrapper{
        width: 60%;
        height: 60vh;
    }

    .contact-planet{
        width: 100%;
        /* height: 50vh; */
    }

    .canvas{
        width: 100%;
        height: 100%;
    }

    .contact-form{
        width: 100%;
        height: 100%;
    }

    .contact-title{
        font-size: 10vw;
    }

    .input-form-text{
        font-size: 3vw;
    }

    .input-form-area{
        font-size: 3vw;
    }

    .field-contact-text{
        font-size: 3vw;
    }

    .button-form{
        font-size: 3vw;
    }

    .contact-message{
        font-size: 3vw;
    }
    
}

@media screen and (max-width: 768px) {
    .contact-form-wrapper{
        width: 60%;
        height: 60vh;
    }

    .contact-planet{
        display: none;
    }
    
}

@media screen and (max-width: 480px) {
    .contact-form-wrapper{
        height: 60 vh;
    }

    .contact-title{
        font-size: 15vw;
    }

    .input-form-text{
        font-size: 5vw;
    }

    .input-form-area{
        font-size: 5vw;
    }

    .field-contact-text{
        font-size: 5vw;
    }

    .button-form{
        font-size: 5vw;
    }

    .contact-message{
        font-size: 5vw;
    }
    
}