.navbar-wrapper{
    height: 10%;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.navbar-logo{
    height: 100%;
    width: 20%;
}

.navbar-links{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    font-family: 'Fira Code', monospace;
}

.a-link{
    color: #ccd6f6;
    padding: 10px;  
}

.a-link:hover{
    color: #9d00ff;
    transition: color 0.8s ease-in-out;
}

.num-link{
    color: #9d00ff;
    font-size: 1rem;
    font-weight: bold;
}

a{
    text-decoration: none;
}

.active-link {
    border: 2px dashed #9d00ff;
}

.navbar-logo-wrapper{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 50px;

}

.navbar-logo{
    height: 25px;
    width: 25px;
    fill: #9d00ff;
}

@media screen and (max-width: 768px){
    .navbar-wrapper{
        flex-direction: column;
        height: 15%;
    }

    .navbar-logo-wrapper{
        width: 100%;
        justify-content: center;
        padding-left: 0;
    }

    .navbar-links{
        width: 100%;
        justify-content: space-around;
        padding: 0;
    }

    .a-link{
        padding: 0;
    }
    
}